/**
* I found this font on this website https://fonts.google.com/specimen/Montserrat
* The CSS decor that I learned from 1537 course and also I found more information on this website
* https://www.w3schools.com/css/css_navbar.asp
* https://www.w3schools.com/howto/howto_css_switch.asp
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: solid;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: #3477F9;
    cursor: pointer;
    text-decoration: none;
}

.navbar-links {
    height: 100%;
    margin-right: 15px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding-top: 10px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: rgba(52, 119, 249, 1.5);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.singin {
    margin-top: 8px;
    padding: 9px 25px;
    background-color: rgba(52, 119, 249, 0.7);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
}

button:hover {
    background-color: rgba(52, 119, 249, 0.3);
}

.main-button {
    margin-top: 2rem;
}

.keep-safe-container {
    text-align: center;
    color: #3477F9;
}

.html-container {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.who-we-are {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin : auto;
  width:50%;
  padding:10px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.how-it-works {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin : auto;
  width:50%;
  padding:10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.commitment {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin : auto;
  width:50%;
  padding:10px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.contact-us {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin : auto;
  width:50%;
  padding:10px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.container {
    padding: 2px 16px;
}

h2 {
    color:#3477F9;
}

footer {
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    color: #000;
    overflow:hidden;
}

#myImg {
    width: 50%;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#small-totoro {
    max-width: 5%;
    height:auto;
}

/*For the view under 800px*/

@media (max-width: 800px) {

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: white;
        color: #000;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        background-position: center;
    }

    .brand-title {
        color: white;
        text-decoration: solid;
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        color: #000;
        background-color: #5ca1dc;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 18px;

    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        color: #000;
        font-size: 18px;

    }

    .navbar-links.active {
        display: flex;
    } 

    .singin {
        padding: 9px 30px;
        background-color: rgba(52, 119, 249, 0.7);
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease 0s;
        margin-bottom: 30px;
    }

    .branch {
        font-size: 4rem;
    }

    .main-button {
        margin-top: 1rem;
    }

    .um-subtitle {
        font-weight: 500;
        letter-spacing: 0.5rem;
        font-size: 12px;
    }

    .branch {
        font-size: 3rem;
        font-weight: 700;
    }

    .html-container {
        display:grid;
    grid-template-rows: 25% 25% 25% 25%;
    }

    .who-we-are {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        width:175%;
    }

    .how-it-works {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        width : 175%;
    }

    .commitment {
        grid-column : 1 / span 1;
        grid-row:3 / span 1;
        width:175%;
    }

    .contact-us {
        grid-column : 1 / span 1;
        grid-row : 4 / span 1;
        width:175%;
    }

    #myImg {
        width: 80%;
        height: auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}