/**
* I found this font on this website https://fonts.google.com/specimen/Montserrat
* The CSS decor that I learned from 1537 course and also I found more information on this website
* https://www.w3schools.com/css/css_navbar.asp
* https://www.w3schools.com/howto/howto_css_switch.asp
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-image: url('/assets/picture2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dashboard {
    font-family: 'Montserrat';
    height: 50vh;
    width: 100%;
    align-items: center;
}

header {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #484848;
    border-radius: 15px 15px 0 0;
    border-bottom: hidden;
}

.branch {
    color: #3477f9;
    margin: 0;
    padding: 4%;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
}

.um-subtitle {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

#content {
    grid-column: 2;
    grid-row: 3;
    border: 0.5px solid #484848;
    border-radius: 0 0 15px 15px;
    border-top: hidden;
    padding: 3%;
    padding: auto;
    display: flex;
    justify-content: center;

}

.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 16px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 15px;
    background-color: bisque;
    border: 0.5px solid #484848;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #3477f9;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: black;
    text-decoration: solid;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: #3477F9;
    cursor: pointer;
}

.navbar-links {
    height: 100%;
    margin-right: 15px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding-top: 10px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: rgba(52, 119, 249, 1.5);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.singin {
    margin-top: 8px;
    padding: 9px 25px;
    background-color: rgba(52, 119, 249, 0.7);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
}

button:hover {
    background-color: rgba(52, 119, 249, 0.3);
}

.main-button {
    margin-top: 2rem;
}

.um-subtitle {
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-size: 15px;
}

.branch {
    font-size: 5rem;
    font-weight: 700;
}

.container {
    padding: 0;
    text-align: center;
}

.createPost {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(52, 119, 249, 0.9);
    border: none;
    border-radius: 15px;

}

.createPost:hover {
    background-color: rgba(52, 119, 249, 0.7);
}

.forecastButton {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: bisque;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    border: 2px solid #3477F9;
}

.forecastButton:hover {
    background-color: rgba(52, 119, 249, 0.7);
}

.howitwork {
    font-size: 20px;
    word-spacing: 2px;
}

/*For the view under 800px*/

@media (max-width: 800px) {

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: white;
        color: #000;
        background-image: url('/assets/picture2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        background-position: center;
    }

    .brand-title {
        color: rgba(52, 119, 249, 1.5);
        text-decoration: solid;
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        color: #000;
        background-color: lightblue;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 18px;

    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        color: #000;
        font-size: 18px;

    }

    .navbar-links.active {
        display: flex;
    }

    .singin {
        padding: 9px 30px;
        background-color: rgba(52, 119, 249, 0.7);
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease 0s;
        margin-bottom: 30px;
    }

    .branch {
        font-size: 4rem;
    }

    .main-button {
        margin-top: 1rem;
    }

    .um-subtitle {
        font-weight: 500;
        letter-spacing: 0.5rem;
        font-size: 12px;
    }

    .branch {
        font-size: 3rem;
        font-weight: 700;
    }

    .container {
        padding: 0;
        text-align: center;
        align-items: center;


    }

    .createPost {
        display: inline-block;
        padding: 15px 15px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgba(52, 119, 249, 0.9);
        border: none;
        border-radius: 12px;
        margin-bottom: 10px;
        text-align: center;
        margin-right: 20px;

    }

    .createPost:hover {
        background-color: rgba(52, 119, 249, 0.7);
    }

    .forecastButton {
        display: inline-block;
        padding: 15px 15px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: lightyellow;
        border: none;
        border-radius: 12px;
        margin-bottom: 10px;
        border: 2px solid #3477F9;
        text-align: center;
        margin-left: 20px;
    }

    .forecastButton:hover {
        background-color: rgba(52, 119, 249, 0.7);
    }

    .howitwork {
        font-size: 20px;
        word-spacing: 2px;
        color: black;
    }

    #content {
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }

    #manage-users {
        grid-row: 1;
    }

    #manage-admins {
        grid-row: 2;
    }

    #manage-posts {
        grid-row: 3;
    }

    #manage-events {
        grid-row: 4;
    }
}