@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

body {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: white;
    color: #000;
}

.wrapper {
    margin-left: 20%;
    margin-right: 20%;
    place-items: center;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 30px;
}

.form-group>input {
    display: block;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    border: solid 0.5px #484848;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    font-family: 'Montserrat';
}

.user_content {
    padding-bottom: 5px;
}

.buttonProfile {
    margin-left: 38%;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
}

#updateAccount {
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(52, 119, 249, 0.9);
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat';
    display: inline-block;
    margin: 0 auto;
}

.updateAccount:hover {
    background-color: rgba(52, 119, 249, 0.7);
}

#cancel {
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lightgrey;
    border: none;
    font-family: 'Montserrat';
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    margin-left: 20px;
    border-radius: 8px;
}

#cancel:hover {
    background-color: red;
}

.profile-pic {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-color: rebeccapurple;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px, rgba(0, 0, 0, 0.13);
    border: 1px solid white;
    cursor: pointer;
}

/* #selectFile {
    margin-left: 30px;
    margin-top: 10px;
} */

#selectFile {
    position: absolute;
    margin-left: 26.5%;
    margin-top: -45px;
    display: none;
}

.camera {
    position: absolute;
    margin-left: 33%;
    margin-top: -40px;
    border-radius: 50%;

}


#togglePassword {
    position: absolute;
    margin-top: -40px;
    margin-left: 30%;
    background-color: red;

    cursor: pointer;
}

/* CSS for the Navbar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: solid;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: #3477F9;
    cursor: pointer;
    text-decoration: none;
}

.navbar-links {
    height: 100%;
    margin-right: 15px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding-top: 10px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: rgba(52, 119, 249, 1.5);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.singin {
    margin-top: 8px;
    padding: 9px 25px;
    background-color: rgba(52, 119, 249, 0.7);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
}

button:hover {
    background-color: rgba(52, 119, 249, 0.3);
}

p {
    text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #000;
}


/*For the view under 800px and over 500px*/
@media screen and (max-device-width: 799px) and (min-device-width: 500px) {
    #signUpForm>input[type="button"] {
        width: 100%;
    }

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: white;
        color: #000;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        background-position: center;
    }

    .brand-title {
        color: white;
        text-decoration: solid;
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        color: #000;
        background-color: #5ca1dc;
    }

    .toggle-button {
        display: flex;
    }

    .brand-title {
        font-size: 1.5rem;
        margin: .5rem;
        color: white;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 18px;

    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        color: #000;
        font-size: 18px;

    }

    .navbar-links.active {
        display: flex;
        background-color: white;
    }

    .singin {
        padding: 9px 30px;
        background-color: rgba(52, 119, 249, 0.7);
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease 0s;
        margin-bottom: 30px;
    }

    .buttonProfile {
        margin-left: 25%;
        display: block;
    }

    #selectFile {
        position: absolute;
        margin-left: 26.5%;
        margin-top: -45px;
        display: none;
    }

    .camera {
        position: absolute;
        margin-left: 34%;
        margin-top: -40px;
        border-radius: 50%;

    }

    .profile-pic {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-color: rebeccapurple;
        object-fit: cover;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px, rgba(0, 0, 0, 0.13);
        border: 1px solid white;
        cursor: pointer;
    }

}

@media screen and (max-device-width: 499px) {
    #signUpForm>input[type="button"] {
        width: 100%;
    }

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: white;
        color: #000;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        background-position: center;
    }

    .brand-title {
        color: white;
        text-decoration: solid;
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        color: #000;
        background-color: #5ca1dc;
    }

    .toggle-button {
        display: flex;
    }

    .brand-title {
        font-size: 1.5rem;
        margin: .5rem;
        color: white;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 18px;

    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        color: #000;
        font-size: 18px;

    }

    .navbar-links.active {
        display: flex;
        background-color: white;
    }

    .singin {
        padding: 9px 30px;
        background-color: rgba(52, 119, 249, 0.7);
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease 0s;
        margin-bottom: 30px;
    }

    .buttonProfile {
        margin-left: 25%;
        display: block;
    }

    #selectFile {
        position: absolute;
        margin-left: 26.5%;
        margin-top: -45px;
        display: none;
    }

    .camera {
        position: absolute;
        margin-left: 37%;
        margin-top: -40px;
        border-radius: 50%;

    }

    .profile-pic {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border-color: rebeccapurple;
        object-fit: cover;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 36px, rgba(0, 0, 0, 0.13);
        border: 1px solid white;
        cursor: pointer;
    }

}