@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    color: #000;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.post_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: white;
    text-align: center;
    position: relative;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.post-user {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-right: 5px;
}

h3 {
    margin-bottom: 5px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    margin-top: 5px;
    text-align: left;
}

.post-pic {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
    margin-bottom: 0;
}

.desc {
    font-size: 12px;
    margin-top: 0;
}

.body-allevents {
    display: flex;
}

p {
    text-align: left;
    text-align: justify;
}

h3 {
    text-align: left;
    margin-top: 0;
    text-transform: uppercase;
}

h4 {
    text-align: left;
}

ul {
    list-style-type: none;
    display: flex;
}

.share-social {
    display: flex;
    align-items: center;
}

.social-link {
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}



.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.createPost {
    display: inline-block;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(52, 119, 249, 0.9);
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
}

.createPost:hover {
    background-color: rgba(52, 119, 249, 0.7);
}


/* Navbar area */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: solid;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: #3477F9;
    cursor: pointer;
}

.navbar-links {
    height: 100%;
    margin-right: 15px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding-top: 10px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: rgba(52, 119, 249, 1.5);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.singin {
    margin-top: 8px;
    padding: 9px 25px;
    background-color: rgba(52, 119, 249, 0.7);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
}

button:hover {
    background-color: rgba(52, 119, 249, 0.3);
}

.main-button {
    margin-top: 2rem;
}

.um-subtitle {
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-size: 15px;
}

.branch {
    font-size: 5rem;
    font-weight: 700;
}

.container {
    padding: 0;
    text-align: center;
}

footer {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

/*For the view under 800px*/

@media (max-width: 800px) {

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background: white;
        color: #000;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        background-position: center;
    }

    .brand-title {
        color: rgba(52, 119, 249, 1.5);
        text-decoration: solid;
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        color: #000;
        background-color: white;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 18px;

    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        color: #000;
        font-size: 18px;

    }

    .navbar-links.active {
        display: flex;
    }

    .singin {
        padding: 9px 30px;
        background-color: rgba(52, 119, 249, 0.7);
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease 0s;
        margin-bottom: 30px;
    }

    .branch {
        font-size: 4rem;
    }

    .main-button {
        margin-top: 1rem;
    }

    .um-subtitle {
        font-weight: 500;
        letter-spacing: 0.5rem;
        font-size: 12px;
    }

    .branch {
        font-size: 3rem;
        font-weight: 700;
    }

    .container {
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .howitwork {
        font-size: 20px;
        word-spacing: 2px;
        color: black;
    }

    .createPost {
        display: inline-block;
        padding: 10px 10px;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgba(52, 119, 249, 0.9);
        border: none;
        border-radius: 12px;
        margin-bottom: 10px;
        text-align: center;
        margin-left: 100px;
    }

    .createPost:hover {
        background-color: rgba(52, 119, 249, 0.7);
    }
}