@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: solid;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: #3477F9;
    cursor: pointer;
}

.navbar-links {
    height: 100%;
    margin-right: 15px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding-top: 10px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: rgba(52, 119, 249, 1.5);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.singin {
    margin-top: 8px;
    padding: 9px 25px;
    background-color: rgba(52, 119, 249, 0.7);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
}

button:hover {
    background-color: rgba(52, 119, 249, 0.3);
}

.main-button {
    margin-top: 2rem;
}

.um-subtitle {
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-size: 15px;
}

.branch {
    font-size: 5rem;
    font-weight: 700;
}

.container {
    padding: 0;
    text-align: center;
}

.createPost {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(52, 119, 249, 0.9);
    border: none;
    border-radius: 15px;

}

.createPost:hover {
    background-color: rgba(52, 119, 249, 0.7);
}

.forecastButton {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: bisque;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    border: 2px solid #3477F9;
}

.forecastButton:hover {
    background-color: rgba(52, 119, 249, 0.7);
}

.howitwork {
    font-size: 20px;
    word-spacing: 2px;
}

h1 {
    color: #3477f9;
    text-align: center;
    width: 100%;
}

h3 {
    color: #3477f9;
}

#user-container {
    width: 100%;
}

.user-card {
    border: solid 1px #484848;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 25% 75%;
    width: 80%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic-div {
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.profile-pic {
    margin-top: auto;
    margin-bottom: auto;
    max-width:90%;
}

.user-list-button {
    float: left;
}

.user-list-button:hover {
    color: #3477f9;
    cursor: pointer;
}

footer {
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    color: #000;
}

td {
    text-align : center;
}

@media only screen and (max-width: 960px) {
    body {
        grid-template-columns: 5% 90% 5%;
    }
    
    .user-card {
        width: 100%;
    }

    .brand-title {
        color: rgba(52, 119, 249, 1.5);
        text-decoration: solid;
        font-size: 28px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        color: #000;
        background-color: #5ca1dc;
    }

    .toggle-button {
        display: flex;
    }

    .brand-title {
        font-size: 1.5rem;
        margin: .5rem;
        color: white;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 18px;

    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        color: #000;
        font-size: 18px;

    }

    .navbar-links.active {
        display: flex;
    } 

    .singin {
        padding: 9px 30px;
        background-color: rgba(52, 119, 249, 0.7);
        border: none;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease 0s;
        margin-bottom: 30px;
    }

    .branch {
        font-size: 4rem;
    }

    .main-button {
        margin-top: 1rem;
    }

    /* Force table to not be like tables anymore */
	thead, tbody, th, table, td, tr { 
		display: block; 
	}

    /* tr:first-child, tr:nth-child(2) {
        display:inline-block;
    } */

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	

	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

    td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

    td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "First Name"; }
	td:nth-of-type(3):before { content: "Last Name"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Password"; }
	td:nth-of-type(6):before { content: "Role"; }
	td:nth-of-type(7):before { content: "Delete"; }
}
